/* styles.css */
.container {
    padding: 20px 10%;
}

.courselistRows {
    height: 5px;
    /* padding: 0 8px; */
    font-size: 14px;
}

@media (max-width: 1080px) {
    .container {
        padding: 20px;
    }
}